.header-6 {
    height: 60px; /* Установите желаемую высоту хедера */
    overflow: hidden; /* Скрыть любой контент, который может вылезти за пределы высоты хедера */
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }