<header class="header-6">
  <div class="branding">
    <img style="filter: invert()" src="../../assets/logo.png" alt="" />
  </div>
  <div class="header-nav">
    <a routerLink="/book" class="active nav-link nav-text">Recommendation</a>
    <a routerLink="/bookshelf" class="nav-link nav-text">My Bookshelf</a>
  </div>
  <div class="header-actions">
    <button
      [routerLink]="['/login']"
      [routerLinkActive]="['active']"
      *ngIf="!isLoggedIn"
      class="btn btn-success-outline"
    >
      Sign In
    </button>
    <button
      [routerLink]="['/register']"
      [routerLinkActive]="['active']"
      *ngIf="!isLoggedIn"
      class="btn btn-success-outline"
    >
      Sign Up
    </button>
    <button (click)="logout()" *ngIf="isLoggedIn" class="btn btn-warning-outline">Logout</button>
  </div>
</header>
