<!-- <div class="clr-col-lg-4 clr-col-12" *ngFor="let bookId of savedBooksID"> -->
  <!-- <a [routerLink]="['/book-details', bookId]" class="card clickable"> -->
    <!-- <div class="card-img"> -->
      <!-- Load book details using bookId -->
      <!-- Example: <img [src]="getBookThumbnail(bookId)" alt="{{ getBookTitle(bookId) }}" /> -->
    <!-- </div> -->
    <!-- <div class="card-block"> -->
      <!-- Load book details using bookId -->
      <!-- Example: <p class="card-text">{{ getBookTitle(bookId) }}</p> -->
      <!-- Other book fields -->
    <!-- </div> -->
  <!-- </a> -->
<!-- </div> -->